.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    justify-content: center;
    width: 100vw;

  h1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
