.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem 0;
    width: 100vw;

  h1 {
    color: $red;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
  }
}

.last-name {
  color: $green;
}

.second-last-name {
  color: $yellow;
}