.projects-list-page-section {
  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    color: $magenta;
    text-transform: uppercase;
  }

  .projects-card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .project-card {
  }

  .project-name {
    img {
      max-width: 100px;
    }
  }
}
