<section class="projects-list-page-section">
  <div class="container">
  <h1>Projects</h1>
  <ul class="projects-card-grid">
    {{- range .Pages -}}
    <li class="project-summary">
      <img src="{{- .Site.BaseURL -}}{{- .Params.Image_path -}}" alt="{{- .Title -}}">
      <div class="project-info">
        <h2 class="project-name">{{ .Title }}</h2>
        <p>{{- .Summary -}}</p>
        <a href="{{- .Site.BaseURL -}}{{- .Params.Project_url -}}">{{- .Title -}}</a>
      </div>
    </li>
    {{- end -}}
  </ul>
</div>
</section>